 *{
    margin: 0;
    padding: 0;
     background-color: rgb(219, 210, 193);
     box-sizing: border-box;
 }
 .box-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #363958;
    width: 428px;
    height: 380;
    margin-left: 70px;
    margin-top: 30px;
 } 
  .box-1 span{
    color: #FF8367;
  }
  .box-1-para{
    font-size: 16px;
    margin-top: 15px;
  } 


    
 
.btn-style{
    color: white;
    font-size: 18px;
     background-color: lightcoral;
     border: none;
     border-radius: 6px;
     width: 110px;
     height: 50px ;
     margin-top: 40px;
} 
.header-img{
 
   display: flex;
  background-image:url('personal-website/images/fuad.png');
  background-size: cover;
 background-repeat:no-repeat;
 height: 380px;
 width: 350px;
 border-radius: 20px;
}
.header-container{
display: flex;
justify-content: space-between;
 padding: 20px;
 
} 


 


.btn-style:hover{
    background-color: red;
    font-size: 20px;
    width: 130px;
    height: 60px;
    
 } 


  .banar-head{
    font-size: 40px; 
    font-weight: bold;
  }


     .but{
      font-size: 15px;
      width: 119px;
      height: 50px;
      padding: 10px;
     } 



 .heading-banar{
 width: 500px;
 height: 200px; 
 font-weight: bold;
 margin-right: 50px;
 margin-top: 45px;

  
 }
  
 .banar-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
 } 

 .img-card{

  margin-left: 80px;
  margin-top: 20px;
  
 } 

  .img-card-1{
    width: 370px;
    height: 375px;
    padding: 13px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
     box-shadow: 0px 2px 10px rgba(0,0,0,0.1);

  } 
  .img-heading{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    background-color: #FFFFFF;
  }
  .img-distri{
    font-size: 15px;
    font-weight: lighter;
    background-color: #FFFFFF;
    margin-top: 20px;
  }
  .span{
    color: #F46060;
  }
  .img-container{
     margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
   
    
  } 
  .main-container{
    text-align: center;
    margin-top: 150px;
  } 


  .footer-container a{
     text-decoration: none;
     border: 1px solid black;
     background-color: rgb(184, 184, 255);
     border-radius: 5px;
     width: 80px;
     height: 40px;
     color: black;
     padding: 5px;
     text-align: center;
      gap: 50px;
    
    }
      .footer-container ul{
        display: flex;
        justify-content: space-around;
      }
      .last{
        text-align: center;
        margin-top: 10px;
      }
      .mail{
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: lighter;
     }
     .phone{
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
      font-weight: lighter;

     } 

     .footer{
      margin-top: 80px;
        background-color: white;
      
     }
    
     









/* media  */

@media(max-width:768px){
    .header-container{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .banar-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
     
    } 
    .heading-banar{
      width: 90%;
      margin:  0 auto;
    }
    .img-card{
      margin-left: 0;
    }
    .para{
      margin: 0 10px ;
      text-align: center;
    }
     .main-container{
      flex-direction: column;
      align-items: center;
     }
     .img-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 10px;
     }
       .img-card-1{
        width: 90%;
        margin: 0 20px;
        padding: 20px;
       }
       .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
   
       }
} 

  
