 *{
    margin: 0;
    padding: 0;
 }
 .box-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #363958;
    width: 428px;
    height: 380;
    margin-left: 70px;
    margin-top: 30px;
 } 
  .box-1 span{
    color: #FF8367;
  }
  .box-1-para{
    font-size: 16px;
    margin-top: 15px;
  } 


    
 
.btn-style{
    color: white;
    font-size: 18px;
     background-color: lightcoral;
     border: none;
     border-radius: 6px;
     width: 110px;
     height: 50px ;
     margin-top: 40px;
} 
.header-img{
 
   display: flex;
  background-image:url('personal-website/images/fuad.png');
  background-size: cover;
 background-repeat:no-repeat;
 height: 380px;
 width: 350px;
 border-radius: 20px;
}
.header-container{
display: flex;
justify-content: space-between;
 padding: 20px;
} 
.header{
 background-color: rgb(238, 232, 222);
 
} 

.btn-style:hover{
    background-color: red;
    font-size: 20px;
}
/* media  */

@media(max-width:576px){
    .header-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
} 
  
